doctype html
html
  head
    title= `${title} | memo-app`
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bulma.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.navbar.is-dark
      .navbar-brand
        a.navbar-item.is-size-5(href="/")
          | USERAUTH APP

    block content

    script(src="/javascripts/bulma.js")
