extends layout_header_only
include ./mixins/flash

block content
  main.section.content.flex-container.is-align-center
    .container.is-small
      if flash 
        +flash(flash.state, flash.message)

      h1.title.has-text-centered.has-text-primary
        | USERAUTH APP

      form(action="/session" method="post")
        .field
          label.label
            | ユーザー名
          .control.has-icons-left.has-icons-right
            input.input.is-medium(type="text" name="name" placeholder="ユーザー名を入力してください" required)
            span.icon.is-small.is-left
              i.fa.fa-user

        .field
          label.label
            | パスワード
          .control.has-icons-left.has-icons-right
            input.input.is-medium(type="password" name="password" placeholder="パスワードを入力してください" required)
            span.icon.is-small.is-left
              i.fa.fa-key

        .field
          .control
            input.button.is-primary.is-medium(type="submit" value="ログイン")
