extends layout_header_only

block content
  main.section.content.sessionNew-wrapper
    .container.is-small
      if message
        .notification.is-danger
          button.delete
          = message

      h1.title.has-text-centered.has-text-primary
        | USERAUTH APP

      form(action="/session/new" method="post")
        .field
          label.label
            | ユーザー名
          .control.has-icons-left.has-icons-right
            input.input.is-medium(type="text" name="name" placeholder="ユーザー名を入力してください" required)
            span.icon.is-small.is-left
              i.fa.fa-user

        .field
          label.label
            | パスワード
          .control.has-icons-left.has-icons-right
            input.input.is-medium(type="password" name="password" placeholder="パスワードを入力してください" required)
            span.icon.is-small.is-left
              i.fa.fa-key

        .field
          .control
            input.button.is-primary.is-medium(type="submit" value="ログイン")
