html, body {
  height: 100%;
}

#pageFooter {
  border-top: solid 1px #eee;
  padding: 1.5rem;
}


.table th {
  width: 30%;
}


.container.is-standard {
  max-width: 960px;
}

.container.is-small {
  max-width: 640px;
}


form .field + .field {
  margin-top: 1.5rem;
}


.flex-container {
  display: flex;
}

.flex-container.is-align-center {
  align-items: center;
  height: 100%;
}


.navbar-item.has-dropdown > .navbar-link{
  min-width: 160px;
}
